@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true">

<div class="Ball1"></div>
<div class="Ball2"></div>
<div class="Ball3"></div>
<div class="Ball4"></div>

<div class="OutBox">
    <div class="Box" id="LeftBox">
        <form>
            <div>
                <h2 class="TextoComImagem2">Criar nova conta</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Ícone de usuário -->
                        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm4-3a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
                            <path fill-rule="evenodd" d="M14 14s-1-1.5-6-1.5S2 14 2 14V13a6 6 0 1 1 12 0v1z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input class="form-control" />
                        <label>Nome</label>
                    </div>
                </div>

                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Ícone de email -->
                        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.708 2.825L15 11.383V5.383zm-.034 6.434-5.966-3.583-5.966 3.583A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-1.183zM1 5.383v6l4.708-3.175L1 5.383z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input class="form-control" />
                        <label>Email</label>
                    </div>
                </div>

                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Ícone de cadeado que aceita cor via CSS -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 8V7a5 5 0 0 0-10 0v1a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3zm-8-1a3 3 0 0 1 6 0v1H9V7zm10 12a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input class="form-control"/>
                        <label>Senha</label>
                    </div>
                </div>

                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Ícone de cadeado que aceita cor via CSS -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 8V7a5 5 0 0 0-10 0v1a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3zm-8-1a3 3 0 0 1 6 0v1H9V7zm10 12a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input class="form-control"/>
                        <label>Confirmar senha</label>
                    </div>
                </div>
            </div>

            <button id="registerSubmit" type="submit" >Registrar</button>

        </form>
        
    </div>
    <div class="Box" id="MidBox">
        <form id="account" method="post">
            <div>
                <h2 class="TextoComImagem">Entrar na conta</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-icon-group2">
                    <span class="input-icon">
                        <!-- Ícone de email -->
                        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.708 2.825L15 11.383V5.383zm-.034 6.434-5.966-3.583-5.966 3.583A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-1.183zM1 5.383v6l4.708-3.175L1 5.383z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" "/>
                        <label asp-for="Input.Email" class="form-label"></label>
                        
                    </div>
                    
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="input-icon-group2">
                    <span class="input-icon">
                        <!-- Ícone de cadeado que aceita cor via CSS -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 8V7a5 5 0 0 0-10 0v1a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3zm-8-1a3 3 0 0 1 6 0v1H9V7zm10 12a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder=" "/>
                        <label asp-for="Input.Password" class="form-label">Senha</label>
                        
                    </div>
                    
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </div>

            <button id="loginSubmit" type="submit" >Log in</button>

        </form>

       
    </div>
    <div class="Box" id="RightBox">
        <img src="~/css/Imagens/BurguerLogo.png">
        <h1>TecBurguer</h1>
        <h5>Entre na sua conta para ter acesso a todas as areas do sistema.</h5>

        <div class="BottomRightBox">
            <h4>Você não possui uma conta?</h4>
            <a asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
