@page
@model RegisterModel

<div class="Ball1"></div>
<div class="Ball2"></div>
<div class="Ball3"></div>
<div class="Ball4"></div>

@{
    ViewData["Title"] = "Registro";
}

<div class="OutBox">
    <div class="Box" id="LeftBox">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="TextoComImagem">Criar nova conta</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-floating">
                <input asp-for="Input.Nome" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Nome"></label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
        </form>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
    </div>

    <div class="Box" id="RightBox">
        <img src="~/css/Imagens/BurguerLogo.png">
        <h1>TecBurguer</h1>
        <h3>Criando um nova conta, você pode receber notícias, fazer pedidos, receber descontos e muito mais!!</h3>
        
        <div class="BottomRightBox">
            <h4>Você já tem uma conta?</h4>
            <a class="w-100 btn btn-lg btn-primary">Login</a>
        </div>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
