@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir senha";
}


<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true">

<div class="Ball1"></div>
<div class="Ball3"></div>

<div class="OutBox">
    <!-- Registration Box -->
    <div class="Box" id="LeftBox">
        <form id="registerForm" method="post">
            <div class="content-inputs">
                <h2 class="TextoComImagem">Redefinir senha</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Email Icon -->
                        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.708 2.825L15 11.383V5.383zm-.034 6.434-5.966-3.583-5.966 3.583A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-1.183zM1 5.383v6l4.708-3.175L1 5.383z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" required placeholder=" " />
                        <label asp-for="Input.Email"></label>

                    </div>
                </div>

                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Lock Icon -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 8V7a5 5 0 0 0-10 0v1a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3zm-8-1a3 3 0 0 1 6 0v1H9V7zm10 12a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" required placeholder=" " />
                        <label asp-for="Input.Password">Senha</label>

                    </div>

                </div>

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="input-icon-group">
                    <span class="input-icon">
                        <!-- Lock Icon -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 8V7a5 5 0 0 0-10 0v1a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3zm-8-1a3 3 0 0 1 6 0v1H9V7zm10 12a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8z" />
                        </svg>
                    </span>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder=" " required />
                        <label asp-for="Input.ConfirmPassword">Confirmar senha</label>

                    </div>

                </div>


            </div>

            <button id="registerSubmit" type="submit">
                <span class="button-text">Redefinir</span>
                <span class="spinner" style="display:none;"></span>
            </button>
        </form>


    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

