:root {
    --primary: #E07A5F; /* laranja queimado */
    --primary-dark: #d45d47;
    --secondary: #81B29A; /* verde oliva */
    --secondary-dark: #6d9b85;
    --accent: #F2CC8F; /* bege areia */
    --dark: #3D405B; /* marrom café */
    --light: #faf3e0; /* branco quente */
    --light-dark: #f6f3eb;
}

body{
    margin-top: 15vh;
}

.CaixaExterna {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 20px auto;
    background-color: var(--light-dark);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 20px #00000022;
}

.CriarNovoItem {
    display: flex;
    background-color: #e07a5f2c;
    border: 3px solid var(--dark);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 20px;
    width: 260px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    color: var(--dark);
    text-decoration: none;
}

.CriarNovoItem img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.CriarNovoItem p{
    font-size: 100px;
}

.CriarNovoItem:hover {
    color: var(--dark);
    transform: translateY(-2%);
}

.BlocoHamburguer {
    opacity: 1;
    transform: translateY(0);
    width: 260px;
    flex-shrink: 0;
    flex-grow: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.BlocoHamburguer img{
    width: 100%;
}

.ForaDeEstoque {
    position: absolute;
    z-index: 10;
    background-color: rgba(220, 53, 69, 0.85);
    backdrop-filter: blur(2px);
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.row{
    background-color: var(--secondary);
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    width: 50vw;
    height: 60vh;
    margin-top: 30px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.Inputs {
    width: 40%;
    height: 100%;
}

.form-group input {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.PreencherImagem {
    display: flex;
    border-radius: 20px;
    border: 5px solid var(--secondary-dark);
    padding: 10px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.LinkEArquivo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.LinkEArquivo input{
    border: none;
    border-bottom: 2px solid var(--secondary-dark);
    width: 100%;
    background-color: #00000000;
    border-radius: 0;
    transition: border 0.3s ease-in-out;
}

    .PreencherImagem img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .LinkEArquivo input:focus {
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 5px solid var(--dark);
        width: 100%;
        background-color: #00000000;
        border-radius: 0;
    }

.UploadLabel {
    width: 10%;
    cursor: pointer;
    color: var(--secondary-dark);
}

    .UploadLabel i {
        font-size: 1.2rem;
        
    }

.row div form {
    width: 100%;
    display: flex;
}

.col-md-4 {
    width: 100%;
    height: 100%;
}
