html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:#1b1b1b;
    color: white;
}

.OutBox {
    display: block;
}

h1{
    text-align: center;
    margin: 10px;
}

.Ball1 {
    background-color: orange;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    position: fixed;
    left: -195px;
    bottom: -90px;
    z-index: -1;
    
    
}

.Ball2 {
    background-color: orange;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: fixed;
    left: -100px;
    top: 95px;
    z-index: -1;
    
    
}

.Ball3 {
    background-color: orange;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    position: fixed;
    right: -195px;
    top: -90px;
    z-index: -1;
   

}

.Ball4 {
    background-color: orange;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: fixed;
    right: -100px;
    bottom: 95px;
    z-index: -1;

   
}
.Box{
    text-align:center;
    color:black;
    display: block;
    margin: auto;
    width: 30vw;
    background-color: #f8f8f8;
    padding:15px;
    border-radius: 15px;
    margin-bottom:20px;
    z-index: 1;
}

.Box input{
    margin-bottom: 10px;
}

.Box select{
    margin-bottom: 10px;
}

@media (max-width: 1080px) {
    .Box {
        margin: 0;
        width: 100%;
    }
}

@keyframes pulsar {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
#registerSubmit{

    background-color:orange;
        outline:hidden;
    border: none;
}

