@using Microsoft.AspNetCore.Identity
@using TecBurguer.Areas.Identity.Data

@inject SignInManager<LoginCliente> SignInManager
@inject UserManager<LoginCliente> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown" id="item">
            <a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle fa-2x"></i>
            </a>
            <ul class="dropdown-menu "aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Informações da Conta</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Cupons" asp-action="Index">Cupons</a>
                </li>
                <li>
                    <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Sair</button>
                    </form>
                </li>
            </ul>
        </li>

      
    }

   else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Criar conta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }
</ul>
