@model IEnumerable<TecBurguer.Models.Hamburguer>

<div class="ConteudoContent1">

    <div class="menu-container">
        
        <div class="section">
           
            <h2 class ="Pesquisa">
                <input type="text" id="busca" placeholder="🔍 Buscar sanduíche..." onkeyup="buscarCardapio()">
            </h2>

            <div class="filtros">
                <div class="dropdown">
                    <button class="btn-filtrar" onclick="toggleDropdown()">
                        <i class="fas fa-sliders-h"></i> Filtrar
                    </button>

                    <div id="dropdownMenu" class="dropdown-content">
                        <button onclick="filtrar('carne')">Sanduíches de Carne</button>
                        <button onclick="filtrar('frango')">Sanduíches de Frango e Vegetarianos</button>
                        <button onclick="filtrar('acomp')">Acompanhamentos</button>
                    </div>
                </div>
            </div>

            <h2>Cardápio</h2>

            <h2>Sanduíches Especiais</h2>
            <div class="cardapio-container">
                <div class="card">
                    <img src="img1.png" alt="Mega Stacker Rodeio 2.0">
                    <h3>Mega Stacker Rodeio 2.0 </h3>
                </div>
                <div class="card">
                    <img src="img2.png" alt="Mega Stacker Rodeio 3.0">
                    <h3>Mega Stacker Rodeio 3.0</h3>
                </div>
                <div class="card">
                    <img src="img3.png" alt="Whopper® Rodeio">
                    <h3>Whopper® Rodeio</h3>
                </div>
                <div class="card">
                    <img src="img4.png" alt="Whopper® Barbecue Bacon">
                    <h3>Whopper® Barbecue Bacon</h3>
                </div>
                <div class="card">
                    <img src="img5.png" alt="Whopper® Duplo">
                    <h3>Whopper® Duplo</h3>
                </div>
                <div class="card">
                    <img src="img6.png" alt="Whopper® Furioso">
                    <h3>Whopper® Furioso</h3>
                </div>
                <div class="card">
                    <img src="img7.png" alt="Mega Stacker Cheddar 2.0">
                    <h3>Mega Stacker Cheddar 2.0</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Sanduíches de Carne</h2>

            <div class="cardapio-container">
                <div class="card">
                    <img src="img8.png" alt="Whopper®">
                    <h3>Whopper®</h3>
                </div>
                <div class="card">
                    <img src="img9.png" alt="Cheddar Duplo">
                    <h3>Cheddar Duplo</h3>
                </div>
                <div class="card">
                    <img src="img10.png" alt="Stacker Duplo Bacon">
                    <h3>Stacker Duplo Bacon</h3>
                </div>
                <div class="card">
                    <img src="img11.png" alt="Rodeio Duplo">
                    <h3>Rodeio Duplo</h3>
                </div>
                <div class="card">
                    <img src="img12.png" alt="Big King™ ">
                    <h3>Big King™</h3>
                </div>
                <div class="card">
                    <img src="img13.png" alt="Cheeseburger Duplo">
                    <h3>Cheeseburger Duplo</h3>
                </div>
                <div class="card">
                    <img src="img14.png" alt="Cheeseburger">
                    <h3>Cheeseburger</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Sanduíches de Frango e Vegetarianos</h2>

            <div class="cardapio-container">
                <div class="card">
                    <img src="img15.png" alt="Chicken Júnior">
                    <h3>Chicken Júnior</h3>
                </div>
                <div class="card">
                    <img src="img16.png" alt="Chicken Duplo">
                    <h3>Chicken Duplo</h3>
                </div>
                <div class="card">
                    <img src="img17.png" alt="® Chicken Crispy">
                    <h3>® Chicken Crispy</h3>
                </div>
                <div class="card">
                    <img src="img18.png" alt="Whopper® Vegetariano">
                    <h3>Whopper® Vegetariano</h3>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Kids</h2>

            <div class="cardapio-container">
                <div class="card">
                    <img src="img19.png" alt="Kids Burger">
                    <h3>Kids Burger</h3>
                </div>
                <div class="card">
                    <img src="img20.png" alt="Combo King Jr.™">
                    <h3>Combo King Jr.™</h3>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Acompanhamentos</h2>

            <div class="cardapio-container">
                <div class="card">
                    <img src="img15.png" alt="Batata Frita">
                    <h3>Batata Frita</h3>
                </div>
                <div class="card">
                    <img src="img16.png" alt="Balde de Batata">
                    <h3>Balde de Batata</h3>
                </div>
                <div class="card">
                    <img src="img17.png" alt="Batata Suprema">
                    <h3>Batata Suprema</h3>
                </div>
                <div class="card">
                    <img src="img18.png" alt="Batata Furiosa">
                    <h3>Batata Furiosa</h3>
                </div>
            </div>
        </div>
    </div>
</div>